<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiques - Le Petit Marché</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/produits.css')}}">
    
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Chiques</h1>
        <a href="{{url_for('main.menu')}}" class="btn-go-home">Retour à la boutique</a>
    </header>
    
    <!-- Liste des produits -->
    <div id="products-container">
        {% for produit in produits %}
        <div class="product">
            <h3>{{ produit.name }}</h3>
            <p>Prix: {{ produit.price }}€</p>
            
             <!-- Quantité -->
             <div class="quantity">
                <button class="decrease" data-id="{{ produit.id }}">-</button>
                <span class="quantity-text">1</span>
                <button class="increase" data-id="{{ produit.id }}">+</button>
            </div>

            <button class="add-to-cart" data-id="{{ produit.id }}">Ajouter au panier</button>
        </div>
    {% endfor %}
    </div>

    <!-- Affichage du panier -->
    <div class="cart">
        <a href="{{url_for('main.cart')}}" class="cart-link">Voir mon panier</a>
    </div>
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    
</body>
</html>
