<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Petit Marché</title>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"> <!-- Liens CSS Flask -->
  <link rel ="user" href="{{ url_for('main.user') }}"> <!-- Si tu as une page utilisateur -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon32x32.png') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static',filename='images/icon-192x192.png') }}" alt="Logo du site Le Petit Marché" width="150"> <!-- Utilisation de Flask pour le chemin de l'image -->
    <h1>Bienvenue sur Le Petit Marché</h1>
  </header>

  <script>
    // Vérifie si l'utilisateur est un administrateur (par exemple, avec un token ou une variable)
    const isAdmin = true; // Change cette valeur en fonction de ton système d'authentification
  
    
  </script>

  <section id="navigation-section">
    <div class="navigation-buttons">
      <a href="{{ url_for('main.menu') }}" class="btn user-btn">Boutique en ligne</a> <!-- Lien vers la page de la boutique -->
      <a href="{{ url_for('main.admin') }}" id="admin-button" class="btn admin-btn" style="display: none;">Page Administrateur</a> <!-- Lien dynamique vers la page admin -->
      <a href="{{ url_for('main.reservation') }}" class="btn user-btn">Réservation en ligne</a> <!-- Lien vers la page de réservation -->
    </div>
  </section>

  <h3>Commandez vos articles en ligne</h3>
  <p>Vous pouvez dès à présent commander en ligne vos articles et les recevoir à la maison.</p>
  <p>Vous pouvez réserver vos produits de boulangerie depuis chez vous pour le lendemain.</p>

  <footer>
    <p>Magasin Le Petit Marché situé rue de la croix n24 4600 Lixhe.</p>
    <p>© Copyright 2025 Le Petit Marché.|Made by C'Cha.</p>
  </footer>

  <!-- Scripts JavaScript -->
   <script src="{{ url_for('static',filename='js/app.js') }}"></script>  
</body>
</html>
