<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pains - Le Petit Marché</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/produits.css')}}"> 
    <script src="{{url_for('static',filename='js/scripts.js')}}" defer></script>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Pains</h1>
        <a href="{{url_for('main.menu')}}" class="btn-go-home">Retour à la boutique</a>
    </header>

    <!-- Liste des produits -->
    <div class="products-container">
        <div class="product">
            <h3>Pains Burgers 6</h3>
            <p class="price">4,45€</p> 
            <button class="add-btn" onclick="addProductToCart('Pains Burgers 6')">+</button>
        </div>

       
        <div class="product">
            <h3>Pain Jacquet</h3>
            <p class="price">5,90€</p> 
            <button class="add-btn" onclick="addProductToCart('Pain Jacquet')">+</button>
        </div>
    </div>

    <!-- Affichage du panier -->
    <div class="cart">
        <a href="{{url_for('main.cart')}}" class="cart-link">Voir mon panier</a>
    </div>
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
</body>
</html>
