<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Réservation - Le Petit Marché</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reservation_submit.css') }}">
</head>

<body>

    <header>
        <div> <a href="{{url_for('main.index')}}"> 
            <img src="{{url_for('static',filename='images/icon-192x192.png')}}" alt="Logo du site Le Petit Marché" width="150">
            </a>
        </div>
        <h1>Merci pour votre commande, {{ name }} !</h1>
        <p>Un e-mail de confirmation a été envoyé à {{ email }}.</p>
<p>Votre numéro de téléphone : {{ phone }}</p>

<section class="order-summary">
    <h2>Récapitulatif de votre commande :</h2>
    <ul>
        {% for commande in commandes.split(', ') %}
            <li>{{ commande }}</li>
        {% endfor %}
    </ul>
</section>


    <div class="button-container">
        <a href="{{ url_for('main.index') }}" class="btn-go-home">Retour sur la page d'accueil</a>
    </div>

    <script src="{{ url_for('static', filename='js/reservation.js') }}"></script>
    
</body>

</html>
