<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauces - Le Petit Marché</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/produits.css')}}">
    <script src="{{url_for('static',filename='js/scripts.js')}}"defer></script>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Sauces</h1>
        <a href="{{url_for('main.menu')}}" class="btn-go-home">Retour à la boutique</a>
    </header>

    <!-- Liste des produits -->
    <div class="products-container">
        <div class="product">
            <h3> DL Samourai 300ml</h3>
            <p class="price">4,85€</p> 
            <button class="add-btn" onclick="addProductToCart(' DL Samourai 300ml')">+</button>
        </div>
        <div class="product">
            <h3> DL Tartare 300ml</h3>
            <p class="price">4,85€</p> 
            <button class="add-btn" onclick="addProductToCart(' DL Tartare 300ml')">+</button>
        </div>
        <div class="product">
            <h3> DL Andalouse 300ml</h3>
            <p class="price">4,90€</p> 
            <button class="add-btn" onclick="addProductToCart('DL Andalouse 300ml ')">+</button>
        </div>
    </div>

    <!-- Affichage du panier -->
    <div class="cart">
        <a href="{{url_for('main.cart')}}" class="cart-link">Voir mon panier</a>
    </div>
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <script>
        // Vérifier si l'URL contient déjà un paramètre "categorie"
        if (!window.location.search.includes("categorie=")) {
            const category = "sauces";  // Nom de la catégorie associée à cette page
            window.location.href = `${window.location.pathname}?categorie=${category}`;
        }
    </script>
    
</body>
</html>
